---
import type { GetStaticPaths } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export const getStaticPaths = (async () => {
  const pages = await getCollection("docs");

  const paths = pages
    .map((page: CollectionEntry<"docs">) => {
      return {
        params: { path: page.id },
        props: { entry: page },
      };
    })
    .filter(Boolean);

  return paths;
}) satisfies GetStaticPaths;

// starlightRouteDataTest is undefined
console.log(Astro.locals.starlightRouteDataTest.currentMode);
---


<p>Some page</p>